@import '~bootstrap/scss/bootstrap';
@import "variables";
@import "typography";

/* GENERAL STYLES
-------------------------------------------------*/
body {
  color: $grey-texte;
  font-family: $font-PPNeueMontreal;
}

/* TITRES
-------------------------------------------------*/
.display-block-text-40 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $title-40;
}

.display-block-text-40 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $title-48;
}

.title-book-36 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $title-36;
}

.title-book-40 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $title-40;
}

.title-book-48 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $title-48;
}

.title-book-56 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $title-56;
}

.title-book-64 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $title-64;
}

.title-book-72 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $title-72;
}

.title-medium-36 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $title-36;
}

.title-medium-40 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $title-40;
}

.title-medium-48 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $title-48;
}

.title-medium-56 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $title-56;
}

.title-medium-64 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $title-64;
}

.title-medium-72 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $title-72;
}

.title-bold-36 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 700;
  font-size: $title-36;
}

.title-bold-40 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 700;
  font-size: $title-40;
}

.title-bold-48 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 700;
  font-size: $title-48;
}

.title-bold-56 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 700;
  font-size: $title-56;
}

.title-bold-64 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 700;
  font-size: $title-64;
}

.title-bold-72 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 700;
  font-size: $title-72;
}

/* TEXTES
-------------------------------------------------*/
.text-book-12 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $text-12;
}

.text-book-14 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $text-14;
}

.text-book-16 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $text-16;
}

.text-book-18 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $text-18;
}

.text-book-20 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $text-20;
}

.text-book-24 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $text-24;
}

.text-book-28 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $text-28;
}

.text-book-32 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 400;
  font-size: $text-32;
}

.text-medium-12 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $text-12;
}

.text-medium-14 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $text-14;
}

.text-medium-16 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $text-16;
}

.text-medium-18 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $text-18;
}

.text-medium-20 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $text-20;
}

.text-medium-24 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $text-24;
}

.text-medium-28 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $text-28;
}

.text-medium-32 {
  font-family: $font-PPNeueMontreal;
  font-style: normal;
  font-weight: 500;
  font-size: $text-32;
}

/* COULEURS TEXTES
-------------------------------------------------*/
.text-black {
  color: $black;
}

.text-green-main {
  color: $green-main;
}

.text-grey-dark {
  color: $grey-dark;
}

.text-grey-darker {
  color: $grey-darker;
}

.text-grey-text {
  color: $grey-texte;
}

/* UTILS
--------------------------------------------------*/
.nav-tabs,
.nav-pills {
  border-bottom: 0;
  margin: 0 -16px;
  .nav-item {
    padding: 0 16px;
  }
  .nav-link {
    padding: 8px;
    border: 0;
    margin: 0;
    font-weight: 400;
    font-size: $text-28;
    color: $grey-dark;
  }
  .nav-link.active,
  .nav-item.show .nav-link {
    font-weight: 500;
    color: $grey-texte;
    border-bottom: 3px solid $orange-main;
    background-color: transparent;
    border-radius: 0;
  }
}

.modal-backdrop {
  background-color: $green-main;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.modal {
  .modal-dialog {
    margin-left: auto;
    margin-right: 0;
    margin-top: 100px;
    min-height: calc(100vh - 100px);
    min-width: 70%;
    .modal-content {
      border: 0;
      border-radius: 0;
      min-height: calc(100vh - 100px);
      padding: 120px;
      .modal-header {
        border: 0;
        padding: 0;
        margin-bottom: 56px;
        .btn-close {
          background: none;
          width: auto;
          height: auto;
          font-weight: 400;
          font-size: $text-18;
          color: $grey-texte;
        }
      }
      .modal-body {
        padding: 0;
      }
    }
  }
}

/* NAVBAR TOP
-------------------------------------------------*/
.navbar {
  padding: 40px 0;
  .navbar-toggler {
    .navbar-toggler-icon {
      background-image: url("../images/bars.svg");
    }
  }

  .navbar-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    .nav-item {
      .nav-link {
        font-family: $font-PPNeueMontreal;
        font-size: $text-18;
        color: $grey-texte;
        padding: 0.5rem 24px;
        @media screen and (max-width: 1200px) {
          padding: 0.5rem 14px;
        }
      }
    }
  }

  .search-btn {
    font-family: $font-PPNeueMontreal;
    font-size: $text-18;
    color: $grey-texte;
    text-decoration: none;
  }

  @media screen and (max-width: 1200px) {
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 0.5rem 14px;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .navbar-nav {
      position: initial;
      top: 0;
      left: 0;
      transform: none;

      .nav-item {
        .nav-link {
          padding: 0.5rem 0;
        }
      }
    }
    .search-btn {
      padding: 0.5rem 0;
    }
  }
}

/* BREADCRUMB
-------------------------------------------------*/
.breadcrumb {
  margin: 0 -8px;
  .breadcrumb-item {
    display: flex;
    padding: 0;
    a,
    span {
      padding: 8px;
      font-size: $text-18;
    }
    a {
      font-weight: 400;
      color: $grey-dark;
      text-decoration: none;
    }
    span {
      font-weight: 500;
      color: $green-main;
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    padding: 8px;
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grey-dark;
  }
}

/* HEADER
-------------------------------------------------*/
.header {
  min-height: 400px;
  height: calc(100vh - 175px);
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
  .content-title {
    margin-right: 80px;
    .subtitle-header {
      margin-bottom: 24px;
    }
  }
  .content-scrolldown {
    margin-bottom: 20px;
  }
}

/* FOOTER
-------------------------------------------------*/
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  .container-address {
    margin-top: 56px;

    .address-content {
      margin-bottom: 32px;
      .address-title {
        margin-bottom: 8px;
      }
      p {
        margin-bottom: 0;
      }
      a {
        color: $grey-texte;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .nav-footer {
    margin-bottom: 56px;
    .title-nav {
      margin-bottom: 16px;
    }
    .navbar-footer {
      margin: -4px 0;
      padding: 0;
      list-style: none;
      .nav-item-footer {
        padding: 4px 0;
        .nav-link-footer {
          font-weight: 400;
          font-size: $text-20;
          color: $grey-texte;
          text-decoration: none;
        }
      }
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .bottom-footer {
    margin-top: 64px;
    font-weight: 400;
    a {
      color: $grey-dark;
      text-decoration: none;
    }
  }
}

/* LIST
-------------------------------------------------*/
.list-container {
  .list-element-link {
    position: relative;
    display: block;
    padding: 48px 0;
    border-bottom: 2px solid $grey-texte;
    text-decoration: none;
    .list-content {
      display: flex;
      align-items: center;
      img {
        width: 0;
        height: 88px;
        object-fit: cover;
        transition: .7s all cubic-bezier(.16,1,.3,1);
      }
      h2 {
        color: $grey-texte;
        transition: .7s all cubic-bezier(.16,1,.3,1);
      }
      .decouvrir-link {
        width: 0;
        font-weight: 400;
        font-size: $text-28;
        color: $grey-background;
        transition: .7s all cubic-bezier(.16,1,.3,1);
      }
    }
    &:before {
      z-index: -1;
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      background-color: $green-main;
      transition: .7s all cubic-bezier(.16,1,.3,1);
    }
    &:hover {
      .list-content {
        img {
          width: 124px;
          margin-right: 40px;
        }
        h2 {
          color: $grey-background;
        }
        .decouvrir-link {
          margin-left: auto;
          width: auto;
        }
      }
      &:before {
        height: 100%;
      }
    }
  }
}

/* FORMATIONS LIST
-------------------------------------------------*/
.formations-list-page {
  .formations-container {
    margin-bottom: 60px;
  }
  .filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  .chiffre-cle {
    position: relative;
    padding-left: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    .chiffre {
      font-weight: 500;
      font-size: 120px;
      color: $grey-texte;
      margin-right: 46px;
    }
    .chiffre-text {
      font-weight: 500;
      font-size: 48px;
      color: $grey-texte;
      margin-bottom: 0;
    }
    &:after {
      position: absolute;
      z-index: -1;
      content: "";
      width: 170px;
      height: 170px;
      top: -10px;
      left: 0;
      background-color: $green-400;
    }
  }
  .modal-formations {
    .modal-dialog {
      min-width: 85%;
    }
    .modal-top {
      --bs-gutter-x: 1.5rem;
      display: flex;
      margin-right: calc(-.5 * var(--bs-gutter-x));
      margin-left: calc(-.5 * var(--bs-gutter-x));
      margin-bottom: 64px;
      > .content-left {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        flex: 0 0 auto;
        width: 70%;
        .infos-formation {
          display: flex;
          margin-bottom: 56px;
        }
        .thematiques-content {
          display: flex;
          align-items: center;
          margin: 0 -16px;
          .thematique-item {
            padding: 0 16px;
            position: relative;
            display: flex;
            align-items: center;
            &:before {
              display: flex;
              content: "";
              width: 18px;
              height: 18px;
              margin-right: 16px;
              background-color: $green-800;
            }
            p {
              margin: 0;
              font-weight: 500;
              font-size: $text-20;
              color: $grey-texte;
            }
          }
        }
        .presentiel {
          margin-left: 32px;
          display: flex;
          align-items: center;
          &:before {
            display: flex;
            content: "";
            width: 18px;
            height: 18px;
            border-radius: 24px;
            margin-right: 16px;
            background-color: $green-main;
          }
          p {
            margin: 0;
            font-weight: 500;
            font-size: $text-20;
            color: $grey-texte;
          }
        }
      }
      > .content-right {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        flex: 0 0 auto;
        width: 30%;
        .avocats-content {
          margin: -4px 0;
          .avocat-item {
            padding: 4px 0;
            display: flex;
            align-items: center;
            .content-left {
              flex: 0 0 auto;
              width: 72px;
              margin-right: 20px;
              img {
                width: 72px;
                height: 72px;
                object-fit: cover;
              }
            }
            .content-right {
              flex: 0 0 auto;
              .title-avocat {
                font-weight: 400;
                font-size: $text-14;
                line-height: 140%;
                color: $grey-darker;
                margin-bottom: 4px;
              }
              .name-avocat {
                font-weight: 500;
                font-size: $text-20;
                color: $grey-texte;
                margin-bottom: 0;
              }
            }
          }
        }
      }
  }
  }
}