/* VARIABLES */

// colors
$black: #000000;
$white: #FFFFFF;

$grey-background: #FDFCFC;
$grey-lighter: #E6E6E6;
$grey-light: #BFBFBF;
$grey-dark: #808080;
$grey-darker: #404040;
$grey-texte: #1D1D1B;

$green-50: #F3F6F4;
$green-100: #E1EAE3;
$green-200: #C5D5CA;
$green-300: #9EB7A7;
$green-400: #72957F;
$green-main: #4B6C59;
$green-600: #3E5D4B;
$green-700: #324A3D;
$green-800: #293C32;
$green-900: #22322A;

$orange-50: #FCF5F0;
$orange-100: #F8E8DC;
$orange-200: #F1CEB7;
$orange-300: #E8AD89;
$orange-400: #DD835A;
$orange-500: #D66339;
$orange-main: #C64D2E;
$orange-700: #A63C28;
$orange-800: #853227;
$orange-900: #6C2B22;

$danger-100: #EB8888;
$danger-200: #E16F6F;
$danger-300: #D55959;
$danger-400: #C74444;
$danger-500: #B63232;
$danger-600: #A32828;
$danger-700: #8F1F1F;
$danger-800: #7A1717;
$danger-900: #641010;